@model IEnumerable<FormC>
@{
    ViewData["Title"] = "FormC";
}


<br /><br /><br /><br />
<section class="section center-section">
      <div class="row">
    <div class="col-lg-5"><img src="/assets/img/HosteliteData.png" width="750" height="600"></div>
    
    <div class="col-lg-5">
        <br /><br />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">FormC List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="FormC" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create New FormC
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Father Name
            </th>
            <th>
                Regitration Number
            </th>
            <th>
                Department
            </th>
            <th>
                CNIC
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Email
            </th>
            <th>
                Internship Semester
            </th>
            <th>
                Present Adress
            </th>
            <th>
                Employer Name
            </th>
            <th>
                Internship Department
            </th>
            <th>
                Joining Date
            </th>
            <th>
                Ending Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
       {
           <tr>
               <td>
                   @obj.stdinfo.stdName
               </td>
               <td>
                   @obj.stdinfo.stdFatherName
               </td>
               <td>
                   @obj.stdinfo.stdReg_no
               </td>
               <td>
                   @obj.stdinfo.stdDept
               </td>
               <td>
                   @obj.stdinfo.stdCNIC
               </td>
               <td>
                   @obj.stdinfo.stdContact_no
               </td>
               <td>
                   @obj.stdinfo.userid
               </td>
               <td>
                   @obj.I_Semester
               </td>
               <td>
                   @obj.stdinfo.stdAddress
               </td>
               <td>
                   @obj.IE_Name
               </td>
               <td>
                   @obj.I_Dept
               </td>
               <td>
                   @obj.Joining_Date
               </td>
               <td>
                   @obj.End_Date
               </td>
               <td>
                   <div class="w-75 btn-group" role="group">
                       <a asp-controller="FormC" asp-action="Edit" asp-route-id="@obj.FormCId"
                       class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                       <a asp-controller="FormC" asp-action="Delete" asp-route-id="@obj.FormCId"
                       class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                   </div>
               </td>
           </tr>
       }
    </tbody>
</table>
</div></div></div>
</section>