    @model IEnumerable<stdInfo>
@{
    ViewData["Title"] = "Student Info";
}

<br /><br /><br /><br />
<section class="section center-section">
      <div class="row">
    <div class="col-lg-4"><img src="/assets/img/HosteliteData.png" width="750" height="600"></div>
    
    <div class="col-lg-5">
        <br /><br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Student Information</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="stdInfo" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create New Data
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Father Name
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Department
            </th>
            <th>
                CNIC
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address
            </th>
            <th>
                Edit & Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
       {
           <tr>
               <td>
                   @obj.stdName
               </td>
               <td>
                   @obj.stdFatherName
               </td>
               <td>
                   @obj.stdReg_no
               </td>
               <td>
                   @obj.stdDept
               </td>
               <td>
                   @obj.stdCNIC
               </td>
               <td>
                   @obj.stdContact_no
               </td>
               <td>
                   @obj.stdAddress
               </td>
               
               <td>
                   <div class="w-75 btn-group" role="group">
                       <a asp-controller="stdInfo" asp-action="Edit" asp-route-id="@obj.stdId"
                       class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
                       <a asp-controller="stdInfo" asp-action="Delete" asp-route-id="@obj.stdId"
                       class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                   </div>
               </td>
           </tr>
       }
    </tbody>
</table>
</div></div></div>
</section><br /><br /><br /><br />